/* NAVIGATION BAR CSS START ***********/

.nav-bar{
  display: flex;
  position: fixed;
  top: 20px;
  left: 100px;
  right: 100px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px;
  border: none;
  background-color: white;
  min-width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 100;
}

.menu{
  display: flex;
}

.menu-item{
  list-style: none;
  padding: 15px 20px;
  color: #3C4048;
  cursor: pointer;
}

.menu-item:hover{
  text-decoration: underline;
  text-decoration-color: #00ABB3 ;
  color:#B2B2B2;
}

.menu-item:active{
  opacity: 0.7;
}

/* NAVIGATION BAR CSS END ***********/



/* HOME CSS START ***********/

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.logo{
  width: 160px;
  border:none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
  transition: box-shadow 0.15s, width 0.15s;
}

.logo:active{
  box-shadow: none;
  width: 150px;
}

.personal-tag{
  margin-top: 40px;
  color: #3C4048;
  letter-spacing: 2px;
  font-size: 36px;
}

.slide-window{
  width: 600px;
  height: 50px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-window span{
  font-size: 24px;
  color: #00ABB3;
  position: absolute;
  animation: slide 10s ease-in-out infinite;
  animation-fill-mode: backwards;
  transform: translateY(-100px);
  opacity: 0;
}


.slide-window span:nth-child(2)
{
  animation-delay: 3s;
}

.slide-window span:nth-child(3)
{
  animation-delay: 6s;
}



@keyframes slide{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }

  5%{
    transform: translateY(0px);
    opacity: 1;
  }

  30%{
    transform: translateY(0px);
    opacity: 1;
  }

  40%{
    transform: translateY(100px);
    opacity: 0;
  }

  100%{
    transform: translateY(100px);
    opacity: 0;
  }
}

  
/* HOME CSS END ***********/





/* ABOUT CSS START ***********/

.about{

  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.about-frame{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
  border: 1px solid #e7e7e7;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.about-icon-frame{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.about-icon{
  padding: 20px;
}

.about-text-title{
  font-weight: bold;
  font-size: 36px;
  color: #3C4048;
  letter-spacing: 2px;
}

.about-text{
  flex: 4;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.about-icon{
  font-size: 72px;
  color: #00ABB3;
}



/* ABOUT CSS END ***********/


/* EXPERIENCE CSS START ***********/

.experience{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

}

.experience i{
  color: #00ABB3;
  font-size: 36px;
}

.experience h2{
  margin-bottom: 50px;
  color: #3C4048;
  font-size: 36px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease-in-out;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card + .card{
  margin-left: -10%;
}

.card:hover{
  transform: rotate(-4deg);
}

.card:hover ~ .card{
  z-index: 1;
  translate:60px;
}


.carrier{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.carrier-item{
  display: flex;
  flex-direction: row;
}

.carrier-icon i{
  margin-right: 30px;
  color: #B2B2B2;
}

.carrier-text{
  width: 350px;
}

.carrier-title{
  font-weight: 700;
  color: #3C4048;
}

.carrier-description{
  color: gray;
}

.vline {
  border-left: 4px solid #00ABB3;
  height: 50px;
  margin-left: 15px;
  margin-bottom: 1px;
  margin-top: 1px;
}

/* EXPERIENCE CSS END ***********/



/* CONTACT CSS START ***********/
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h2{
  margin-top: 30px;
  letter-spacing: 2px;
}

.accounts{
  margin-top: 20px;
  margin-bottom: 20px;
}


.account-icon{
  font-size: 30px;
  cursor: pointer;
  transition: color 0.35s;
  margin-right: 25px;
}


.account-icon:hover{
  color: #00ABB3;
}

.account-icon:active{
  opacity: 0.6;
}


.copyright{
  margin-bottom: 20px;
}

/* CONTACT CSS END ***********/
